<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque labore minus neque possimus quam quos repellendus! Accusamus animi libero magni maiores numquam, rerum temporibus vero. Dolores fugit laboriosam minima molestiae sed! Incidunt quis suscipit tempore. Consequuntur cum error, esse odit perferendis possimus recusandae. Doloremque laudantium necessitatibus obcaecati sequi similique.</p>
  </div>
</div>
